<div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-5 md:p-4">
    <div class="before:absolute mb-3 before:rounded-tr-xl before:left-0 before:rounded-bl-md relative before:bottom-0 before:h-[20px] before:w-[10px] before:bg-warning bg-primary rounded-md w-[40px] h-[40px] text-center">
        <a href="#"
            class="text-xl  text-gray-300 font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-green-400 mb-2">
            {{data?.number}}
        </a>
    </div>
    <h2 class="text-gray-900 dark:text-white text-xl font-extrabold mb-2">{{data.title}}</h2>
    <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">{{data.content}}</p>
</div>