<div class="bg-gray-50 py-5 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-5 md:p-4">
    <div>
        <a href="/knowledge?cat={{data.id}}"
            class="text-gray-900 dark:text-white text-xl font-extrabold mb-2 hover:text-blue-600">{{data.title}}</a>
    </div>
</div>