@layout('layouts/auth')
@set('title', 'Home page')
@set('dataUser',dataUser.hasRole.links)
@section('body')
<section>
  <div class="max-w-screen-xl mx-auto">
    <div class="py-5 flex justify-between">
      <h5 class="mb-2 text-3xl font-bold text-center tracking-tight text-gray-900 dark:text-white">{{t('admin.title_dashboard')}}</h5>
    </div>
  </div>
</section>
@end