@layout('layouts/main')
@set('title', 'NT2-ICT-My Profile')
@section('body')
<section>
    <div class="max-w-screen-xl mx-auto">
        @!component('components/asideProfile')
    </div>
</section>
@end