<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <link href="/dist/flowbite.min.css"  rel="stylesheet" />
  @entryPointStyles('app')
</head>

<body>
  {{--  @!component('components/toastLogin')  --}}
  @!component('components/navbarTop',{categories:categories,otherItem:otherItem})
  
  @!section('body')

  @!component('components/Footer')
  <script src="/dist/flowbite.js"></script>
</body>

</html>