<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  @entryPointStyles('app')
</head>

<body>
@!component('components/AlertCompent')
  <nav class="fixed w-screen z-[999]">
    <div class="max-w-[950px] mx-auto">
      <a href="/" class="flex items-center py-5 px-5">
        <img src="/images/Nam-Theun-2.png" class="h-8 mr-3" alt="Flowbite Logo" />
      </a>
    </div>
  </nav>

  @!section('body')

  <footer class="footer">
  </footer>
</body>

</html>